.login{
    height: 97%;
}

#login-form{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hidden-label{
    display: none;
}

.login-button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    padding-bottom: 20%;
}

.inputs{
    box-sizing: border-box;
    height: 45px;
    margin-top: 15px;
    font-weight: bold;
    padding-left: 3%;
}