.App {

  height: 100%;
}

footer{
  height: 25px;
  background-color: #222222;
}

.error{
  color: red;
}

#warning{
  color: red;
}

#popUp{
  border-radius: 10px;
  position: fixed;
  top: 25%;
  left: 30%;
  height: 30%;
  width: 500px;
  margin: 30px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: rgb(230, 230, 230);
  z-index: 1;
}