.App {

  height: 100%;
}

footer{
  position: fixed;
  height: 20px;
  background-color: #222222;
  width: 100%;
  left: 0;
  bottom: 0;
}

.error{
  color: red;
}

#warning{
  color: red;
}

#popUp, #manage-users-popup{
  border-radius: 10px;
  position: absolute;
  overflow: scroll;
  top: 25%;
  left: 25%;
  height: 250px;
  width: 400px;
  margin: 30px;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  z-index: 1;
}