#signup-form{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.signup{
    height: 97%;
}



.pop-up{
    height: 60%;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: white;
    
}